<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alphanews.newsapp" >

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".UpdateNewsService"
            android:exported="false" >
        </service>

        <activity
            android:name=".NewsListActivity"
            android:label="@string/title_activity_news_list"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".DeveloperInfoActivity"
            android:label="@string/title_activity_developer_info"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
